<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CraftHK"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.profile.RegistrationActivity" />
        <activity android:name=".ui.profile.LoginActivity" />
        <activity android:name=".ui.profile.ProfileActivity" />
        <activity android:name=".ui.shop.ShopActivity" />
        <activity android:name=".ui.shop.CreateShopActivity" />
        <activity android:name=".ui.shop.ShopPagerActivity" />
        <activity android:name=".ui.product.CreateProductActivity" />
        <activity android:name=".ui.event.CreateEventActivity" />
        <activity android:name=".ui.explore.ExploreActivity"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAM1SEv2w5kAAUqVsr--b0p0IfwdCT7Ssg"/>
    </application>
</manifest>